# Virtual environment
.venv/

# PyCharm / IDE files
.idea/
*.iml

# Python build junk
__pycache__/
*.pyc

# Local databases and secrets
db/*.db
.env

file_scan/directories.tsv
file_scan/files.tsv
file_scan/tests/junk_sanity.txt
file_scan/volumes.tsv

*.sqlite